* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #faf8ef;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: #776e7b;
    overflow-x: hidden;
}

a,
a:visited,
a:hover {
    color: inherit;
    cursor: pointer;
    display: block;
    font-weight: 700;
    outline: transparent;
}

button {
    outline: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
}

.modal__window {
    margin: 20% auto;
    padding: 20px 40px;
    background-color: #6d2f52;
    border: 2px #b5b2b7 solid;
    border-radius: 5px;
    width: 55%;
    color: #b5b2b7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal__text {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
}

.modal__close:hover,
:focus {
    cursor: pointer;
}

.modal__input {
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
    outline: none;
    border: transparent;
    border-radius: 5px;
    background-color: #b5b2b7;
}

.modal__input_ok {
    align-self: flex-end;
}

.modal__input_ok:hover,
:focus {
    cursor: pointer;
}

.rating-winners {
    overflow: auto;
}

.rating-winners__window {
    margin: 5% auto;
}

.rating-winner__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.rating-winner__item {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #b5b2b7;
    color: #6d2f52;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    height: 30px;
    overflow: hidden;
    text-align: center;
}

.first {
    background-color: #a583bc;
    color: #4b1835;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 20px;
    margin-right: 30px;
}

.header__inner-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__inner-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.header__description {
    text-align: center;
    margin-bottom: 20px;
    max-width: 200px;
}

.header__title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}

.btn_text_underlined {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: #776e7b;
}

.header__score,
.header__best {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faf8ef;
    background-color: #b5b2b7;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    height: 60px;
    width: 100px;
}

.header__best {
    margin-left: 30px;
}

.header__btn {
    border: none;
    border-radius: 5px;
    padding: 20px;
    color: #efdfde;
    background-color: #a77070;
    font-size: 18px;
    font-weight: 600;
    max-width: 300px;
    margin-top: 30px;
}

.header__btn:hover {
    transition: background-color 1s, color 1s;
    background-color: #913a6a;
    color: #faf8ef;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main__field {
    display: grid;
    background-color: #bbada0;
    border-radius: 5px;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    grid-gap: 10px;
    align-items: stretch;
    justify-content: center;
    width: 460px;
    padding: 10px 0;
    margin: 20px auto;
}

.field__item {
    background-color: #cdc1b4;
    border-radius: 5px;
    font-size: 60px;
    font-weight: 700;
    color: #7e7975;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field__item_2 {
    background-color: #caaf9c;
}

.field__item_4 {
    background-color: #c6b4cd;
    color: #797681;
}

.field__item_8 {
    background-color: #b4cdbd;
    color: #797681;
}

.field__item_16 {
    background-color: #b5b4cd;
    font-size: 55px;
    color: #707270;
}

.field__item_32 {
    background-color: #cdc5b4;
    font-size: 55px;
    color: #707270;
}

.field__item_64 {
    background-color: #b4cacd;
    font-size: 55px;
    color: #707270;
}

.field__item_128 {
    background-color: #cdb4b7;
    font-size: 45px;
    color: #6b706c;
}

.field__item_256 {
    background-color: #b4cdc2;
    font-size: 45px;
    color: #6b706c;
}

.field__item_512 {
    background-color: #e6bc8f;
    font-size: 45px;
    color: #6b706c;
}

.field__item_1024 {
    background-color: #ce8070;
    font-size: 40px;
    color: #a4b5aa;
}

.field__item_2048 {
    background-color: #c04040;
    font-size: 40px;
    color: #b4cdbd;
}

.main__description {
    margin: 40px 0;
    text-align: center;
}

@media (max-width: 840px) {
    .container {
        max-width: 780px;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
    .header {
        max-width: 200px;
        margin-right: 40px;
    }

    .header__title {
        margin-bottom: 10px;
        font-size: 40px;
    }

    .header__btn {
        margin-top: 10px;
    }

    .header__inner-2 {
        margin-top: 10px;
    }

    .header__best {
        margin-left: 10px;
    }

    .main__field {
        grid-template-columns: repeat(5, 58px);
        grid-template-rows: repeat(5, 58px);
        grid-gap: 10px;
        width: 350px;
        height: 350px;
        margin-left: 10px;
    }

    .field__item {
        font-size: 30px;
    }

    .field__item_16,
    .field__item_32,
    .field__item_64 {
        font-size: 25px;
    }

    .field__item_128,
    .field__item_256,
    .field__item_512 {
        font-size: 20px;
    }

    .field__item_1024,
    .field__item_2048 {
        font-size: 16px;
    }
}

@media (orientation: landscape) and (max-width: 920px) {
    .container {
        padding: 0;
    }

    .header {
        justify-content: flex-start;
    }

    .header__inner-2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .main {
        justify-content: flex-start;
    }

    .header__description {
        display: none;
    }

    .header__title {
        margin-bottom: 10px;
    }

    .main__field {
        grid-template-columns: repeat(5, 65px);
        grid-template-rows: repeat(5, 65px);
        width: 390px;
        height: 390px;
        padding: 12px 5px;
        margin: 5px 0 0;
    }

    .field__item {
        font-size: 50px;
    }

    .field__item_16,
    .field__item_32,
    .field__item_64 {
        font-size: 45px;
    }

    .field__item_128,
    .field__item_256,
    .field__item_512 {
        font-size: 30px;
    }

    .field__item_1024,
    .field__item_2048 {
        font-size: 28px;
    }
}

@media (max-width: 770px) {
    .modal__window {
        width: 80%;
    }

    .container {
        max-width: 700px;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }

    .header {
        max-width: 300px;
        margin-right: 10px;
    }

    .header__title {
        margin-bottom: 10px;
        font-size: 55px;
    }

    .header__description {
        display: none;
    }

    .header__btn {
        margin-top: 10px;
    }

    .header__inner-2 {
        margin-top: 10px;
    }

    .header__best {
        margin-left: 10px;
    }

    .main__field {
        margin-left: auto;
    }
}

@media (orientation: landscape) and (max-width: 700px) {
    .main__field {
        grid-template-columns: repeat(5, 50px);
        grid-template-rows: repeat(5, 50px);
        width: 305px;
        height: 305px;
        padding: 6px;
        margin: 15px 0 0;
    }

    .field__item {
        font-size: 50px;
    }

    .field__item_16,
    .field__item_32,
    .field__item_64 {
        font-size: 45px;
    }

    .field__item_128,
    .field__item_256,
    .field__item_512 {
        font-size: 30px;
    }

    .field__item_1024,
    .field__item_2048 {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 550px;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }

    .header {
        max-width: 300px;
        margin-right: 10px;
    }

    .header__title {
        margin-bottom: 10px;
        font-size: 50px;
    }

    .header__description {
        display: none;
    }

    .header__btn {
        max-width: 200px;
    }

    .header__inner-2 {
        margin-bottom: 10px;
    }

    .header__score,
    .header__best {
        width: 80px;
    }
}

@media (max-width: 540px) {
    .container {
        width: 95%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .main {
        justify-content: center;
    }

    .header {
        max-width: 300px;
        flex-direction: row;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .header__title {
        display: none;
    }

    .header__description {
        display: none;
    }

    .header__btn {
        width: 180px;
        margin-right: 10px;
    }

    .header__inner-2 {
        margin: 0 0 10px;
    }

    .header__inner-1 {
        flex-direction: row-reverse;
        margin-bottom: 10px;
    }

    .header__score,
    .header__best {
        width: 125px;
    }

    .btn_text_underlined {
        margin: 0;
    }
}

@media (max-width: 430px) {
    .rating-winner__item {
        width: 110px;
        font-size: 16px;
    }

    .header__btn {
        width: 120px;
        margin-top: 0;
        padding: 10px;
        font-size: 16px;
    }

    .header__score,
    .header__best {
        width: 80px;
        height: 40px;
        padding: 5px;
        font-size: 14px;
    }

    .btn_text_underlined {
        font-size: 14px;
    }

    .main__field {
        grid-template-columns: repeat(5, 50px);
        grid-template-rows: repeat(5, 50px);
        grid-gap: 6px;
        width: 290px;
        height: 290px;
        margin: 0px 0px 10px;
    }
}

@media (max-width: 340px) {
    .main__field {
        grid-template-columns: repeat(5, 45px);
        grid-template-rows: repeat(5, 45px);
        grid-gap: 5px;
        width: 265px;
        height: 265px;
    }
}

@media (max-width: 300px) {
    .modal__window {
        padding: 10px 20px;
    }

    .rating-winner__title {
        font-size: 18px;
    }

    .rating-winner__item {
        width: 90px;
        height: 25px;
        font-size: 14px;
        padding: 5px;
    }

    .container {
        width: 100%;
    }

    .header__btn {
        width: 100px;
        margin-top: 0;
        padding: 6px;
        font-size: 14px;
    }

    .main__field {
        grid-template-columns: repeat(5, 40px);
        grid-template-rows: repeat(5, 40px);
        grid-gap: 4px;
        width: 235px;
        height: 235px;
    }
}

@media (max-width: 250px) {
    .rating-winner__title {
        font-size: 16px;
    }

    .rating-winner__item {
        width: 85px;
        height: 25px;
        font-size: 14px;
    }

    .main__field {
        grid-template-columns: repeat(5, 30px);
        grid-template-rows: repeat(5, 30px);
        grid-gap: 3px;
        width: 180px;
        height: 180px;
    }

    .field__item {
        font-size: 20px;
    }

    .field__item_16,
    .field__item_32,
    .field__item_64 {
        font-size: 16px;
    }

    .field__item_128,
    .field__item_256,
    .field__item_512 {
        font-size: 14px;
    }

    .field__item_1024,
    .field__item_2048 {
        font-size: 12px;
    }
}
