* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #faf8ef;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: #776e7b;
    overflow-x: hidden;
}

a,
a:visited,
a:hover {
    color: inherit;
    cursor: pointer;
    display: block;
    font-weight: 700;
    outline: transparent;
}

button {
    outline: transparent;
}    

.container {
    max-width: 760px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px 20px;
}

.header__inner-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__inner-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
}

.header__game-rules {
    display: block;
    margin-top: 10px;
}

.header__score,
.header__best {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faf8ef;
    background-color: #b5b2b7;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    height: 60px;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header__btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #4b4b48;
    background-color: #a59e84;
    font-size: 16px;
    transition: background-color 1s, color 1s;
    max-width: 200px;
    margin-top: 20px;
}

.header__btn:hover {
    background-color: #a37d6e;
    color: #faf8ef;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.main__field {
    display: grid;
    background-color: #bbada0;
    border-radius: 5px;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    grid-gap: 10px;
    align-items: stretch;
    justify-content: center;
    width: 460px;
    padding: 10px 0;
    margin: 20px auto;
}

.field__item {
    background-color: #cdc1b4;
    border-radius: 5px;
    font-size: 50px;
    font-weight: 700;
    color: #7e7975;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__description {
    margin: 40px 0;
    text-align: center;
}

.main__newgame {
    display: block;
    margin-bottom: 20px;
}

@media (max-width: 515px) {
    .main__field {
        grid-template-columns: repeat(5, 55px);
        grid-template-rows: repeat(5, 55px);
        grid-gap: 10px;
        width: 335px;
    }

    .field__item {
        font-size: 35px;
    }
}

@media (max-width: 370px) {
    .container {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    .header__inner-1 {
        margin-right: 10px;
    }

    .header__inner-2 {
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 20px;
    }

    .header__score,
    .header__best {
        width: 80px;
        height: 80px;
        margin: 0;
    }

    .header__best {
        margin-left: 20px;
    }

    .main {
        margin: 0;
    }

    .main__field {
        grid-template-columns: repeat(5, 45px);
        grid-template-rows: repeat(5, 45px);
        grid-gap: 5px;
        width: 255px;
        padding: 5px 0;
    }

    .field__item {
        font-size: 30px;
    }
}

@media (min-width: 1300px) {
    body {
        font-size: 24px;
    }

    .container {
        max-width: 900px;
    }

    .header__score,
    .header__best {
        font-size: 24px;
        padding: 10px;
    }

    .header__btn {
        font-size: 20px;
    }

    .main__field {
        grid-template-columns: repeat(5, 80px);
        grid-template-rows: repeat(5, 80px);
        grid-gap: 15px;
        width: 485px;
        padding: 10px 0;
    }

    .field__item {
        font-size: 50px;
    }
}

@media (min-width: 1700px) {
    body {
        font-size: 30px;
    }

    .header {
        margin: 50px 0;
        padding: 10px 40px;
    }

    .header__score,
    .header__best {
        font-size: 30px;
        width: 170px;
        height: 170px;
    }

    .header__btn {
        font-size: 26px;
        max-width: 400px;
    }

    .main__description {
        margin: 40px 0;
    }
}

@media (min-width: 1900px) {
    body {
        font-size: 32px;
    }

    .container {
        max-width: 60%;
    }

    .header {
        margin: 5% 0;
    }

    .header__title {
        font-size: 80px;
    }

    .header__game-rules {
        margin-top: 30px;
    }

    .header__score,
    .header__best {
        font-size: 40px;
        padding: 20px;
    }

    .header__btn {
        padding: 20px;
        font-size: 40px;
    }

    .main {
        margin: 80px 0 60px;
    }

    .main__field {
        grid-template-columns: repeat(5, 120px);
        grid-template-rows: repeat(5, 120px);
        grid-gap: 20px;
        width: 710px;
        padding: 15px 10px;
        margin: 40px auto;
    }

    .field__item {
        font-size: 60px;
    }

    .main__description {
        margin: 60px 0;
    }

    .main__newgame {
        margin-bottom: 40px;
    }
}

@media (min-width: 2400px) {
    body {
        font-size: 40px;
    }
}
